apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: dataplane
  namespace: openshift-gitops
spec:
  sourceRepos:
  - https://github.com/other-repo/kong-gateway.git
  - https://github.com/hybrid-cloud-patterns/kong-gateway.git
  - https://helm.releases.hashicorp.com
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: controlplane
  namespace: openshift-gitops
spec:
  sourceRepos:
  - https://github.com/other-repo/kong-gateway.git
  - https://github.com/hybrid-cloud-patterns/kong-gateway.git
  - https://helm.releases.hashicorp.com