apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: dataplane
spec:
  sourceRepos:
  - https://github.com/other-repo/kong-gateway.git
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: controlplane
spec:
  sourceRepos:
  - https://github.com/other-repo/kong-gateway.git